.Footer {
  background-color: transparent;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #333;
  box-sizing: border-box;
}

.Footer .footerLogo {
  width: 150px;
  height: 70px;
}

